.footer {
  color: $color-text-secondary;
  margin-bottom: 16px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.link {
  color: $color-text-secondary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}
